.jimu-widget-InfoSummary{
  width: 360px;
  min-height: 100%;
  overflow: visible;
}

.jimu-widget-InfoSummary .legendLayer{
  font-size: 12px;
}

.jimu-widget-InfoSummary .legendOff{
  overflow: hidden;
  display: none;
}

.jimu-widget-InfoSummary .legendOn{
  display: block;
  width: 100%;
  visibility: visible;
  height: auto;
  overflow: hidden;
  background-color: rgba(255,255,255,1);
}

.jimu-widget-InfoSummary .featureItem{
  display: block;
  width: 100%;
  visibility: visible;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
  float: left;
  min-height: 30px;
}

.jimu-rtl .jimu-widget-InfoSummary .featureItem{
  display: block;
  width: 100%;
  visibility: visible;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
  float: right;
  min-height: 30px;
}

/*dart specific settings*/

/*Rather than duplicating all this stuff 
should just have a set of colors for light and a set 
of colors for dark...really just doing this to change colors*/

.jimu-widget-InfoSummary .solidBorder-dart {
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.jimu-widget-InfoSummary .page-dart {
    position: relative;
    width: 360px;
    margin-left: 0;
    height: 100%;
    display: block;
}

.jimu-widget-InfoSummary .pageContent-dart {
  left: 10px;
  right: 10px;
  top: 5px;
  overflow: visible;
  display: block;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .featureItem-dart {
  display: block;
  width: 100%;
  visibility: visible;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.5);
  float: left;
  min-height: 30px;
  color: whitesmoke;
  background-color: #4c4c4c;
}

.jimu-rtl .jimu-widget-InfoSummary .featureItem-dart {
  display: block;
  width: 100%;
  visibility: visible;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.5);
  float: right;
  min-height: 30px;
  color: whitesmoke;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .featureItem-dart:hover {
  background-color: black;
}

.jimu-widget-InfoSummary .groupItem-dart {
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.5);
  float: left;
  overflow: hidden;
  text-align: -webkit-left;
  text-align: -moz-left;
  text-align: left;
  background-color: #4c4c4c;
}

.jimu-rtl .jimu-widget-InfoSummary .groupItem-dart {
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.5);
  float: right;
  overflow: hidden;
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: right;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .groupItemTitle-dart:hover .groupItemImageUp-dart{
  background-image: url(../images/_nav_up.png);
  background-color: rgba(0,0,0,.5);
}

.jimu-widget-InfoSummary .groupItemTitle-dart:hover .groupItemImageDown-dart{
  background-image: url(../images/_nav_down.png);
  background-color: rgba(0,0,0,.5);
}

.jimu-widget-InfoSummary .groupItemTitle-dart{
  width: 100%;
  height: 30px;
  display: table;
  color: whitesmoke;
}

.jimu-widget-InfoSummary .groupItemImage-dart{
  width: 25px;
  height: 12px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,.5);
  color: whitesmoke;
}

.jimu-widget-InfoSummary .groupItemImageUp-dart{
  background-image: url(../images/_nav_up.png);
}

.jimu-widget-InfoSummary .groupItemImageDown-dart {
  background-image: url(../images/_nav_down.png);
}

.jimu-widget-InfoSummary .groupField-dart {
  text-align: left;
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-left: 5px;
  background-color: #4c4c4c;
}

.jimu-rtl .jimu-widget-InfoSummary .groupField-dart {
  text-align: right;
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-right: 5px;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .groupFieldImage-dart {
  text-align: left;
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-left: 20px;
  background-color: #4c4c4c;
}

.jimu-rtl .jimu-widget-InfoSummary .groupFieldImage-dart {
  text-align: right;
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-right: 20px;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .groupCountLabel-dart {
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  display: table-cell;
  width: auto;
  height: 100%;
  padding-right: 10px;
  background-color: #4c4c4c;
}

.jimu-rtl .jimu-widget-InfoSummary .groupCountLabel-dart {
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  display: table-cell;
  width: auto;
  height: 100%;
  padding-left: 10px;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .expandImageContainer-dart {
  width: 25px;
  height: 12px;
  margin-right: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 5px;
  background-color: #4c4c4c;
}

.jimu-rtl .jimu-widget-InfoSummary .expandImageContainer-dart {
  width: 25px;
  height: 12px;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 5px;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .expand-dart{
  width: 50px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  left: 45%;
  background-color: #4c4c4c;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-rtl .jimu-widget-InfoSummary .expand-dart{
  width: 50px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  right: 45%;
  background-color: #4c4c4c;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .expandUp-dart{
  background-image: url(../images/_nav_up.png);
  bottom: -1px;
  background-position-y: 2px;
  border-top: 1px solid rgba(0,0,0,.5);
  border-left: 1px solid rgba(0,0,0,.5);
  border-right: 1px solid rgba(0,0,0,.5);
  -webkit-border-top-radius: 8px;
  -moz-border-top-radius: 8px;
  -o-border-top-radius: 8px;
  -ms-border-top-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 1;
}

.jimu-widget-InfoSummary .expandDown-dart{
  background-image: url(../images/_nav_down.png);
  bottom: -5px;
  background-position-y: -1px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  -webkit-border-bottom-radius: 8px;
  -moz-border-bottom-radius: 8px;
  -o-border-bottom-radius: 8px;
  -ms-border-bottom-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
}

.jimu-widget-InfoSummary .rec-dart {
  position: relative;
  width: 100%;
  height: 70px;
  display: table;
  line-height: 70px;
  color: #6e6e6e;
  cursor: pointer;
  background-color: #4c4c4c;
}

.jimu-widget-InfoSummary .rec-dart:hover .expandUp-dart {
  background-color: black;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .rec-dart:hover .expandDown-dart {
  background-color: black;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .layer-row-mouseover{
  background-color: #f2f2f2;
}

.jimu-widget-InfoSummary .layer-row-mouseover-dart{
   background-color: black;
}

/*end dart specific settings*/

.jimu-widget-InfoSummary .groupField{
  text-align: left; 
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-left: 5px;
}

.jimu-rtl .jimu-widget-InfoSummary .groupField{
  text-align: right; 
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-right: 5px;
}

.jimu-widget-InfoSummary .groupFieldImage{
  text-align: left; 
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-left: 20px;
}

.jimu-rtl .jimu-widget-InfoSummary .groupFieldImage{
  text-align: right; 
  display: table-cell;
  font-size: 14px;
  width: 100%;
  vertical-align: middle;
  padding-right: 20px;
}

.jimu-widget-InfoSummary .groupItem{
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
  float: left;
  overflow: hidden;
  text-align: -webkit-left;
  text-align: -moz-left;
  text-align: left;
}

.jimu-rtl .jimu-widget-InfoSummary .groupItem{
  display: block;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #dcdcdc;
  float: right;
  overflow: hidden;
  text-align: -webkit-right;
  text-align: -moz-right;
  text-align: right;
}

.jimu-widget-InfoSummary .groupItemTitle:hover .groupItemImageUp{
  background-image: url(../images/_nav_up.png);
  background-color: gray;
}

.jimu-widget-InfoSummary .groupItemTitle:hover .groupItemImageDown{
  background-image: url(../images/_nav_down.png);
  background-color: gray;
}

.jimu-widget-InfoSummary .groupItemTitle{
  width: 100%;
  height: 30px;
  display: table;
}

.jimu-widget-InfoSummary .groupItemImage{
  width: 25px;
  height: 12px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  cursor: pointer;
  vertical-align: middle;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #dcdcdc;
}

.jimu-widget-InfoSummary .groupItemImageUp{
  background-image: url(../images/default_nav_up.png);
  background-color: white;
}

.jimu-widget-InfoSummary .groupItemImageDown{
  background-image: url(../images/default_nav_down.png);
  background-color: white;
}

.jimu-widget-InfoSummary .groupOff{
  display: none;
}

.jimu-widget-InfoSummary .groupOn{
  height: auto;
  display: block;
}

.jimu-widget-InfoSummary .featureItem:hover{
  background-color: lightgray;
}

.jimu-widget-InfoSummary .clusterSymbol{
  margin: 4px 4px 4px 4px;
  display: block;
  width: 35px;
  visibility: visible;
  height: 35px;
  float: left;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  opacity:0.60;
  filter: alpha(opacity=30);
  z-index: 3;
}

.jimu-widget-InfoSummary .rounded {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.jimu-widget-InfoSummary .roundedTop {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.jimu-widget-InfoSummary .roundedBottom {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.jimu-widget-InfoSummary .panelMain {
    display: block;
}

.jimu-widget-InfoSummary .panelContent {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 360px;
  height: auto;
  margin-top: 0px;
  z-index: 300;
}

.jimu-widget-InfoSummary .page {
  position: relative;
  width: 360px;
  margin-left: 0;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,0.1);
}

.jimu-widget-InfoSummary .pageContent {
  position:absolute;
  left: 10px;
  right: 10px;
  top: 5px;
  overflow: visible;
  display: block;
  background-color: rgba(255,255,255,1);
}

.jimu-widget-InfoSummary .pageHeader {
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
  display: block;
}

.jimu-widget-InfoSummary .pageHeaderRefresh {
  position: relative;
  width: 100%;
  height: 210px;
  text-align: center;
  display: block;
}

.jimu-widget-InfoSummary .pageHeaderRefreshNoText {
  position: relative;
  width: 100%;
  height: 190px;
  text-align: center;
  display: block;
}

.jimu-widget-InfoSummary .pageTitle {
  position: absolute;
  left: 0px;
  bottom: 8px;
  height: auto;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.jimu-widget-InfoSummary .pageTitleRefresh {
  position: absolute;
  left: 0px;
  bottom: 25px;
  height: auto;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.jimu-widget-InfoSummary .lastUpdated {
  position: absolute;
  left: 0px;
  bottom: 5px;
  height: auto;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.jimu-widget-InfoSummary .pageTitleWidth {
  width: 100%;
}

.jimu-widget-InfoSummary .pageCounter {
  position: absolute;
  top: 40px;
  width: auto;
  height: auto;
  left: 15px;
  right:15px;
}

.jimu-widget-InfoSummary .pageClose {
  position: absolute;
  right: 0px;
  top: 0px;
  background: url(../images/x.png) no-repeat 50% 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
}

.jimu-rtl .jimu-widget-InfoSummary .pageClose {
  position: absolute;
  left: 0px;
  top: 0px;
  background: url(../images/x.png) no-repeat 50% 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: block;
}

.jimu-widget-InfoSummary .pageBody {
  position: absolute;
  top: 190px;
  width: 100%;
  display: block;
  color: #000000;
  font-size: 10px;
  text-align: center;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.jimu-widget-InfoSummary .pageBodyRefresh {
  position: absolute;
  top: 210px;
  width: 100%;
  display: block;
  color: #000000;
  font-size: 10px;
  text-align: center;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.jimu-widget-InfoSummary .pageBodyRefreshNoText {
  position: absolute;
  top: 190px;
  width: 100%;
  display: block;
  color: #000000;
  font-size: 10px;
  text-align: center;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.jimu-widget-InfoSummary .resultsContent {
  width: 100%;
  min-height: 100%;
  height: auto;
}

.jimu-widget-InfoSummary .recDefault {
  cursor: default;
}

.jimu-widget-InfoSummary .recIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,1);
  -moz-border-radius: 41px;
  -webkit-border-radius: 41px;
  border-radius: 41px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}

.jimu-rtl .jimu-widget-InfoSummary .recIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,1);
  -moz-border-radius: 41px;
  -webkit-border-radius: 41px;
  border-radius: 41px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}

.jimu-widget-InfoSummary .thumb2{
  width: 43px;
  height: 43px;
  align-content: center;
  vertical-align: super;
  z-index: 1;
}

.jimu-widget-InfoSummary .active {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: rgba(0,0,0,0.25);
}

.jimu-rtl .jimu-widget-InfoSummary .active {
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-color: rgba(0,0,0,0.25);
}

.jimu-widget-InfoSummary .groupCountLabel {
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  display: table-cell;
  width: auto;
  height: 100%;
  padding-right: 10px;
}

.jimu-rtl .jimu-widget-InfoSummary .groupCountLabel {
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  display: table-cell;
  width: auto;
  height: 100%;
  padding-left: 10px;
}

.jimu-widget-InfoSummary .inActive {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.jimu-widget-InfoSummary .lightThemeColor {
  color: #000000;
}

.jimu-widget-InfoSummary .darkThemeColor {
  color: whitesmoke;
}

.jimu-widget-InfoSummary .recLabel {
  display: table-cell;
  line-height: 70px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-left: 65px;
  text-overflow: ellipsis;
  width: 100%;
  padding-right: 10px;
  max-width: 100px;
  overflow: hidden;
  word-wrap: break-word;
}

.jimu-rtl .jimu-widget-InfoSummary .recLabel {
  display: table-cell;
  line-height: 70px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-right: 65px;
  text-overflow: ellipsis;
  width: 100%;
  padding-left: 10px;
  max-width: 200px;
  overflow: hidden;
  word-wrap: break-word;
}

.jimu-widget-InfoSummary .recLabelNoCount {
  display: table-cell;
  line-height: 70px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-left: 65px;
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
}

.jimu-rtl .jimu-widget-InfoSummary .recLabelNoCount {
  display: table-cell;
  line-height: 70px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-right: 65px;
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: auto;
}

.jimu-widget-InfoSummary .recNumInActive {
  height: 100%;
  text-align: center;
  font-size: 28px;
  margin-right: 10px;
  float: right;
  display: none;
  width: 0px;
  padding-left: 10px;
}

.jimu-rtl .jimu-widget-InfoSummary .recNumInActive {
  height: 100%;
  text-align: center;
  font-size: 28px;
  margin-right: 10px;
  float: left;
  display: none;
  width: 0px;
  padding-left: 10px;
}

.jimu-widget-InfoSummary .recNum {
  height: 100%;
  text-align: center;
  font-size: 28px;
  margin-right: 10px;
  float: right;
  display: table-cell;
  width: auto;
  padding-left: 10px;
}

.jimu-rtl .jimu-widget-InfoSummary .recNum {
  height: 100%;
  text-align: center;
  font-size: 28px;
  margin-left: 10px;
  float: left;
  display: table-cell;
  width: auto;
  padding-right: 10px;
}

.jimu-widget-InfoSummary .innerMainPanelIcon {
  background-size: contain; 
  width: 100%;
  max-width: 310px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: inline-block;
}

.jimu-widget-InfoSummary .innerSVGPosition {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.jimu-widget-InfoSummary .innerCirclePosition {
  position: relative;
  top: 8px;
  left: 8px;
}

.jimu-widget-InfoSummary .pageBodyNoIcon {
  position: absolute;
  top: 35px;
  width: 100%;
  display: block;
  color: #000000;
  font-size: 10px;
  text-align: center;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.jimu-widget-InfoSummary .pageHeaderNoIcon {
  position: relative;
  width: 100%;
  height: 35px;
  text-align: center;
  display: block;
}

.jimu-widget-InfoSummary .pageBodyNoIconRefresh {
  position: absolute;
  top: 55px;
  width: 100%;
  display: block;
  color: #000000;
  font-size: 10px;
  text-align: center;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.jimu-widget-InfoSummary .pageHeaderNoIconRefresh {
  position: relative;
  width: 100%;
  height: 55px;
  text-align: center;
  display: block;
}

.jimu-widget-InfoSummary .pageLabel {
  padding-top: 10px;
  color: whitesmoke;
  font-size: 17px;
  text-align: center;
}

.jimu-widget-InfoSummary .solidBorder {
  border-bottom: 1px solid #dcdcdc;
}

.jimu-widget-InfoSummary .imageDataGFX {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
}

.jimu-rtl .jimu-widget-InfoSummary .imageDataGFX {
  width: 20px;
  height: 20px;
  display: block;
  float: right;
}

.jimu-widget-InfoSummary .expandArrow {
  width: 100%;
  height: 20px;
}

.jimu-widget-InfoSummary .rec {
  position: relative;
  width: 100%;
  height: 70px;
  display: table;
  line-height: 70px;
  color: #6e6e6e;
  cursor: pointer;
  background-color: rgba(255,255,255,1);
}

.jimu-widget-InfoSummary .rec:hover .expandUp {
  background-image: url(../images/nav_up.png);
  background-color: #f2f2f2;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .rec:hover .expandDown {
  background-image: url(../images/nav_down.png);
  background-color: #f2f2f2;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

/*.jimu-widget-InfoSummary .rec:hover {
  background-color: #f2f2f2;
}*/

.jimu-widget-InfoSummary .searching{
  height: 10px;
  width: 40px;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 32px;
  bottom: 0px;
  right: 0px;
}

.jimu-rtl .jimu-widget-InfoSummary .searching{
  height: 10px;
  width: 40px;
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 32px;
  bottom: 0px;
  left: 0px;
}

.jimu-widget-InfoSummary .expandSearching{
  background-image: url(../images/loading.gif);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  right: 0px;
  display: block;
}

.jimu-rtl .jimu-widget-InfoSummary .expandSearching{
  background-image: url(../images/loading.gif);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  left: 0px;
  display: block;
}

.jimu-widget-InfoSummary .expandSearching-empty {
  background-image: url(../images/loading.gif);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  right: 50%;
  display: block;
  width: 50px;
  height: 9px;
}

.jimu-rtl .jimu-widget-InfoSummary .expandSearching-empty {
  background-image: url(../images/loading.gif);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0px;
  left: 50%;
  display: block;
  width: 50px;
  height: 9px;
}

.jimu-widget-InfoSummary .expand{
  width: 50px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  left: 45%;
  background-color: white;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-rtl .jimu-widget-InfoSummary .expand{
  width: 50px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  right: 45%;
  background-color: white;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .expand-empty {
  width: 50px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-rtl .jimu-widget-InfoSummary .expand-empty {
  width: 50px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  position: absolute;
  right: 50%;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .expandInActive{
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: rotate(0);
}

.jimu-widget-InfoSummary .expandImageContainer{
  width: 25px;
  height: 12px;
  margin-right: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-right: 5px;
}

.jimu-rtl .jimu-widget-InfoSummary .expandImageContainer{
  width: 25px;
  height: 12px;
  margin-left: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-left: 5px;
}

.jimu-widget-InfoSummary .expandUp{
  background-image: url(../images/default_nav_up.png);
  bottom: -1px;
  background-position-y: 2px;
  border-top: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  -webkit-border-top-radius:8px;
  -moz-border-top-radius:8px;
  -o-border-top-radius:8px;
  -ms-border-top-radius:8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 1;
}

.jimu-widget-InfoSummary .expandDown{
  background-image: url(../images/default_nav_down.png);
  bottom: -5px;
  background-position-y: -1px;
  border-bottom: 1px solid #dcdcdc;
  -webkit-border-bottom-radius:8px;
  -moz-border-bottom-radius:8px;
  -o-border-bottom-radius:8px;
  -ms-border-bottom-radius:8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 1;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* MEDIA SPECIFIC: SMALL TABLETS */
@media only screen and (max-width: 750px) {
  .jimu-widget-InfoSummary .pageContent{
  }

  .jimu-widget-InfoSummary .pageHeader{
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
    display: block;
  }

  .jimu-widget-InfoSummary .pageHeaderRefresh {
    position: relative;
    width: 100%;
    height: 65px;
    text-align: center;
    display: block;
  }

  .jimu-widget-InfoSummary .pageHeaderRefreshNoText {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    display: block;
  }

  .jimu-widget-InfoSummary .pageTitle {
    position: absolute;
    left: 0px;
    bottom: 20px;
    height: auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    width: 100%;
  }

  .jimu-widget-InfoSummary .pageTitleWidth {
    width: 100%;
  }

  .jimu-widget-InfoSummary .pageCounter {
    display: none;
    position: absolute;
    left: 5px;
    margin-left: 0px;
    top: 5px;
    width: 70px;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    border: 5px solid rgba(0,0,0,1);
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
  }

  .jimu-widget-InfoSummary .pageBody {
    position: absolute;
    top: 35px;
    bottom: 0px;
    width: 100%;
    display: block;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
  }

  .jimu-widget-InfoSummary .pageBodyRefresh {
    position: absolute;
    top: 65px;
    width: 100%;
    display: block;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
  }

  .jimu-widget-InfoSummary .pageBodyRefreshNoText {
    position: absolute;
    top: 50px;
    width: 100%;
    display: block;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
  }
}

/* MEDIA SPECIFIC: PHONES */
@media only screen and (max-width: 470px) {
  .jimu-widget-InfoSummary{
    width: 100% !important;
    height: 50%;
  }

  /*.jimu-widget-InfoSummary .pageBodyRefreshNoText {*/
  .jimu-widget-InfoSummary .panelContent {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    margin-top: 0px;
    z-index: 300;
  }

    .jimu-widget-InfoSummary .pageContent {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      overflow: visible;
      display: block;
      background-color: rgba(255,255,255,1);
    }

  .jimu-widget-InfoSummary .page {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.15);
  }

  .jimu-widget-InfoSummary .pageHeader {
    position: relative;
    width: 100%;
    height: 35px;
    text-align: center;
    display: block;
  }

  .jimu-widget-InfoSummary .pageHeaderRefresh {
      position: relative;
      width: 100%;
      height: 65px;
      text-align: center;
      display: block;
  }

  .jimu-widget-InfoSummary .pageTitle {
    position: absolute;
    left: 0px;
    bottom: 20px;
    height: auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    top: 25px;
    bottom: 0px;
    width: 100%;
  }

  .jimu-widget-InfoSummary .pageTitleWidth {
    width: 100%;
  }

  .jimu-widget-InfoSummary .pageCounter {
    display: none;
    position: absolute;
    left: 5px;
    margin-left: 0px;
    top: 5px;
    width: 70px;
    font-size: 40px;
    height: 70px;
    line-height: 70px;
    border: 5px solid rgba(0,0,0,1);
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    opacity: 0.3;
    filter: alpha(opacity=30);
  }

  .jimu-widget-InfoSummary .pageBody {
    position: absolute;
    top: 35px;
    width: 100%;
    display: block;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    display: block;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
  }

  .jimu-widget-InfoSummary .pageBodyRefresh {
    position: absolute;
    top: 65px;
    width: 100%;
    display: block;
    color: #000000;
    font-size: 10px;
    text-align: center;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-y: auto;
    background-color: white;
  }
}
